<h1>lista pagamento</h1>
<figure class="img">
<img src="https://th.bing.com/th?id=OIP.o8rIT3RgmzGLiaazsPbO5AHaHa&w=250&h=250&c=8&rs=1&qlt=90&o=6&pid=3.1&rm=2">
<figcaption>Hola mundo</figcaption>
</figure>